<% if @error_message %>
  <div class="alert">
    <%= @error_message %>
  </div>
  <br>
<% end %>

<h2><%= @user.name %></h2>

<% unless @user.babies.empty? %>
  <h3>Babies under your care:</h3>
  <% @user.babies.sort_by{|baby| baby.name.split(" ").last}.each do |baby| %>
    <ul>
      <li><a href="/babies/<%= baby.id %>"><%= baby.name %></a></li>
    </ul>
  <% end %>
<% end %>
<br>

<p>
  Add a baby:
  <a href="/babies/new">create a new baby</a> or <a href="/babies/existing">add an existing baby</a><small> (created by another caregiver)</small>
</p>
