<h2>Sign Up</h2>

<% if @user && @user.errors.any? %>
  <ul>
   <% @user.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul><br>
<% end %>

<form action="/signup" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%= @user.name if @user %>" required>
  <br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="<%= @user.email if @user %>" required>
  <br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br><br>
  <label for="password_confirmation">Confirm Password:</label>
  <input type="password" id="password_confirmation" name="password_confirmation" required>
  <br><br>
  <input type="submit" value="Sign Up">
</form>
