<h2><a href="/babies/<%= @baby.slug %>">Baby <%= @baby.name %></a></h2>

<table>
  <tr>
    <th>Date</th>
    <th>Height (inches)</th>
    <th>Weight (lbs)</th>
  </tr>
  <tr>
    <td align="center"><%= @baby.name %></td>
    <td align="center">gsd</td>
    <td align="center">asdfasdfasdfasdf</td>
  </tr>
<table>
