<h1>Add an existing baby</h1>

<form action="/babies" method="POST">
  <p>Choose a baby who has already been added by another user (you will need to obtain the baby's personal identification code (PIC) created by the other user):</p>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <br><br>
  <label for="pic">PIC:</label>
  <input type="password" id="pic" name="password" required>
  <br><br>
  <input type="submit" value="Submit">
</form>
