<% if @error_message %>
  <%= @error_message %>
  <br><br>
<% end %>

<h2>Add An Existing Baby</h2>

<form action="/babies/existing" method="POST">
  <p>Choose a baby who has already been added by another caregiver (you will need to obtain the baby's personal identification password (PIP) from the caregiver who created the baby):</p>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <br><br>
  <label for="password">PIP:</label>
  <input type="password" id="password" name="password" required>
  <br><br>
  <input type="submit" value="Submit">
</form>
