<% if @meal && @meal.errors.any? %>
  Please try again:<br><br>
  <ul>
   <% @meal.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul><br>
<% end %>

<h2><a href="/babies/<%= @baby.slug %>">Baby <%= @baby.name %></a></h2>

<h3>Add Meal:</h3>
