<h2>Welcome</h2>

<p>
  Moms, dads, family members, nannies, and other caregivers can use num-num time! to track the feedings and growth of their babies. Features include:
  <ul>
    <li>A caregiver can track one or multiple babies under his or her care.</li>
    <li>After a caregiver creates a baby's profile with a unique personal identification password (PIP), other caregivers may use the PIP to also view and manage the baby's profile.</li>
    <li>A baby's profile may only be viewed and managed by his or her caregivers.</li>
    <li>A caregiver can delete a baby's profile only from his or her own list of babies. The baby's other caregivers can still view and manage the profile.</li>
  </ul>
</p>
